# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [13]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")
dollarizer = lambda x: float(x[1:-1])
chipo["item_price"] = chipo["item_price"].apply(dollarizer)

### Step 4. How many products cost more than $10.00?

In [79]:
expensive_products = chipo[chipo["item_price"] > 10]["item_name"]
len(expensive_products)

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [32]:
price_per_item = pd.pivot_table(chipo, values="item_price", index="item_name")
price_per_item

                                       item_price
item_name
6 Pack Soft Drink                        6.610185
Barbacoa Bowl                           10.187273
Barbacoa Burrito                         9.832418
Barbacoa Crispy Tacos                   10.928182
Barbacoa Salad Bowl                     10.640000
Barbacoa Soft Tacos                     10.018400
Bottled Water                            1.867654
Bowl                                    14.800000
Burrito                                  7.400000
Canned Soda                              1.320577
Canned Soft Drink                        1.457641
Carnitas Bowl                           10.833971
Carnitas Burrito                        10.132712
Carnitas Crispy Tacos                   11.137143
Carnitas Salad                           8.990000
Carnitas Salad Bowl                     11.056667
Carnitas Soft Tacos                      9.398500
Chicken Bowl                            10.113953
Chicken Burrito                         10.082857
Chicken Crispy Tacos                    10.045319
Chicken Salad                            9.010000
Chicken Salad Bowl                      11.170455
Chicken Soft Tacos                       9.635565
Chips                                    2.342844
Chips and Fresh Tomato Salsa             3.285091
Chips and Guacamole                      4.595073
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Roasted Chili Corn Salsa       3.084091
Chips and Roasted Chili-Corn Salsa       2.390000
Chips and Tomatillo Green Chili Salsa    3.087209
Chips and Tomatillo Red Chili Salsa      3.072917
Chips and Tomatillo-Green Chili Salsa    2.544194
Chips and Tomatillo-Red Chili Salsa      2.987500
Crispy Tacos                             7.400000
Izze                                     3.390000
Nantucket Nectar                         3.641111
Salad                                    7.400000
Side of Chips                            1.840594
Steak Bowl                              10.711801
Steak Burrito                           10.465842
Steak Crispy Tacos                      10.209714
Steak Salad                              8.915000
Steak Salad Bowl                        11.847931
Steak Soft Tacos                         9.746364
Veggie Bowl                             10.211647
Veggie Burrito                           9.839684
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Veggie Salad Bowl                       10.138889
Veggie Soft Tacos                       10.565714

### Step 6. Sort by the name of the item

In [31]:
chipo.loc[chipo["item_name"].sort_values().index]

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [80]:
chipo.sort_values("item_price", ascending=False).head()

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [55]:
items_quantity_sold.loc["Veggie Salad Bowl"]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [78]:
canned_soda_orders = chipo.loc[chipo.item_name[chipo.item_name == "Canned Soda"].index]
len(canned_soda_orders[canned_soda_orders.quantity > 1])

20